@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister|Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Nixie+One');

body {
  background: url(images/b.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#programcontainer {
  width: 100%;
}

#start {
  left: 40%;
  top: 30%;
  position: absolute;
  text-align: center;
}

#locationcontainer {
  width: 400px;
  font-family: 'Nixie One', cursive;
  font-size: 24px;
  padding: 15px;
  position: absolute;
  right:  33.5%;
  top: 5%;
  border: 4px solid transparent;
  text-align: center;
}

#outfitcontainer {
  border: 4px solid transparent;
  width: 700px;
  height: 250px;
  right: 25%;
  top: 60%;
  position: absolute;
  opacity: 0;
}

#weatherinfocontainer {
  width: 175px;
  font-family: 'Nixie One', cursive;
  font-size: 23px;
  padding: 20px;
  position: absolute;
  right:  79%;
  top: 20%;
  border: 4px solid transparent;
  text-align: center;
}

#forecastcontainer {
  width: 175px;
  font-family: 'Nixie One', cursive;
  font-size: 23px;
  padding: 20px;
  position: absolute;
  right:  61%;
  top: 20%;
  border: 4px solid transparent;
  text-align: center;
}

#forecastcontainer2 {
  width: 175px;
  font-family: 'Nixie One', cursive;
  font-size: 23px;
  padding: 20px;
  position: absolute;
  right:  43%;
  top: 20%;
  border: 4px solid transparent;
  text-align: center;
}

#forecastcontainer3 {
  width: 175px;
  font-family: 'Nixie One', cursive;
  font-size: 23px;
  padding: 20px;
  position: absolute;
  right:  25%;
  top: 20%;
  border: 4px solid transparent;
  text-align: center;
}

#forecastcontainer4 {
  width: 175px;
  font-family: 'Nixie One', cursive;
  font-size: 23px;
  padding: 20px;
  position: absolute;
  right:  7%;
  top: 20%;
  border: 4px solid transparent;
  text-align: center;
}

#forecastcontainer5 {
  width: 175px;
  font-family: 'Nixie One', cursive;
  font-size: 23px;
  padding: 20px;
  position: absolute;
  right:  79%;
  top: 20%;
  border: 4px solid transparent;
  text-align: center;
}

#forecastcontainer6 {
  width: 175px;
  font-family: 'Nixie One', cursive;
  font-size: 23px;
  padding: 20px;
  position: absolute;
  right:  61%;
  top: 20%;
  border: 4px solid transparent;
  text-align: center;
}

#forecastcontainer7 {
  width: 175px;
  font-family: 'Nixie One', cursive;
  font-size: 23px;
  padding: 20px;
  position: absolute;
  right:  43%;
  top: 20%;
  border: 4px solid transparent;
  text-align: center;
}

#forecastcontainer8 {
  width: 175px;
  font-family: 'Nixie One', cursive;
  font-size: 23px;
  padding: 20px;
  position: absolute;
  right:  25%;
  top: 20%;
  border: 4px solid transparent;
  text-align: center;
}

#forecastcontainer9 {
  width: 175px;
  font-family: 'Nixie One', cursive;
  font-size: 23px;
  padding: 20px;
  position: absolute;
  right:  7%;
  top: 20%;
  border: 4px solid transparent;
  text-align: center;
}


#imagecontainer {
  padding: 20px;
  right: 8%;
  position: absolute;
  border: 4px solid transparent;
}

#refresh  {
  font-size: 48px;
  opacity: 0;
  position: relative;
}

#zipcode {
  border: 3 none;
  background: transparent;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  padding: 10px 10px;
  width: 150px;
}

button {
  margin: 10px;
  padding: 10px 10px;
  height: 70px;
  width: 180px;
  font-family: 'Nixie One', cursive;
  font-size: 24px;
  background: #b19cd9;
  border: none;
  color: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-shadow: 1px 1px #666;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.material-icons.md-48 {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 48px;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

#right {
  float: right;
  margin-top: 200px;
  font-size: 48px;
  opacity: 0;
  margin-right: 10px;
}

#left {
  float: left;
  margin-top: 200px;
  font-size: 48px;
  opacity: 0;
  margin-left: 10px;
}

#title {
  font-family: 'Nixie One', cursive;
  font-size: 35px;
}

#d {
  font-family: 'Nixie One', cursive;
  font-size: 20px;
}

#top {
  margin: 16px;
  margin-top: 10px;
}

#bottom {
  margin: 16px;
  margin-top: 10px;
}

#shoes {
  margin: 16px;
  margin-top: 10px;
}
